.tab-menu {
  display: flex;
  gap: 5px;
  padding: 20px;
  background-color: #111;
  min-height: 100px;
}

.tab-menu button {
  background-color: #111;
  background: none;
  border: none;
  color: #888888;
  font-weight: 500px;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 1px;
  transition: color 0.3s;
}

.tab-menu button.active {
  color: #b6f36e;
}

.post-container {
  padding: 15px;
  min-height: 400px;
}

.no-posts {
  text-align: center;
  padding: 60px 20px;
  color: rgb(255, 255, 255);
}

.write-button {
  position: fixed;
  bottom: 300px;
  right: 360px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.write-button:active {
  transform: scale(0.9);
}
