.write-page {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #111;
  color: white;
}

.write-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: #111;
}

.write-header h2 {
  margin: 0;
  font-size: 18px;
  color: #b6f36e;
}

.write-close {
  background-color: #111;
  border: none;
  color: #b6f36e;
  font-size: 14px;
  cursor: pointer;
  padding: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.write-close:hover {
  background-color: #333;
}

.write-complete {
  background-color: #111;
  border: none;

  color: #b6f36e;
  font-size: 18px;

  padding: 8px 16px;
  cursor: pointer;

  border-radius: 6px;
}

.write-input {
  width: 100%;
  padding: 20px;
  background-color: #2a2a2a;
  border: none;
  border-bottom: 3px solid #111;
  color: white;
  font-size: 18px;

  box-sizing: border-box;
}

.write-input::placeholder {
  color: gray;
}

.write-phto-section p {
  color: white;
  margin-bottom: 10px;
  font-size: 18px;
}

.write-phto-box {
  width: 100%;
  height: 200px;

  background-color: #2a2a2a;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  cursor: pointer;
  border-bottom: 20px solid #111;
}

.write-textarea {
  width: 100%;
  border: none;
  min-height: 250px;
  background-color: #2a2a2a;
  color: white;
  resize: none;
  font-family: inherit;
  box-sizing: border-box;
  padding: 20px;
}

.write-textarea::placeholder {
  color: gray;
}
