.app-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  top: 8px;
  z-index: 100;
  position: relative;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.bell-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
