.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  position: relative;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.bell-container {
  position: absolute;
  right: 20px;
}
