.app-header {
  height: 80px;
  transform: translate(-50px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  position: sticky;
  top: 8px;
  z-index: 100;
  position: relative;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.bell-container {
  position: absolute;
  transform: translate(190px);
  height: 80px;
}
