.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #1c1c1c;
  border-top: 1px solid #333;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 20;
  padding-bottom: env(safe-area-inset-bottom);
}

.item {
  display: grid;
  place-items: center;
  color: #aaa;
  font-size: 26px;
  text-decoration: none;
  transition: all 0.2s ease;
  height: 100%;
}

.item:active {
  transform: scale(0.92);
}

.item:hover {
  color: #b6f36e;
}

.active {
  color: #ccff00;
  filter: drop-shadow(0 0 4px rgba(204, 255, 0, 0.3));
}
